@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    background: rgb(54,14,14);
    background: radial-gradient(circle, rgba(54,14,14,0.742734593837535) 4%, rgba(5,65,136,1) 100%);
}

.title{
    display: flex;
    justify-content: center;
    padding: 250px;
}
.teste{
    animation: animationTech 4s 1s infinite;
}
@keyframes animationTech{
    from{color: #fff;}
    to{color:  #41b883;}
}
.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 70px;
    background-color: transparent;
    width: 400px;
    max-height: 150px;
    margin: auto;
    transition: 1s;
    border-radius: 15px;
    color: #fff;
    bottom: 150px;
    position: relative;
}

.contador button{
    width: 100px;
    height: 50px;
}

.contador:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 375px){
    .title{
        font-size: 25px;
        justify-content: flex-start;
        padding: 150px;
        right: 70px;
        position: relative;
    }

    .contador{
        font-size: 20px;
        width: 130px;
        height: 100px;
    }
    .contador:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }

}



